
.vs/TaleSpireStatMessaging/v15/.suo
.vs/TaleSpireStatMessaging/v15/Server/sqlite3/db.lock
.vs/TaleSpireStatMessaging/v15/Server/sqlite3/storage.ide
.vs/TaleSpireStatMessaging/v15/Server/sqlite3/storage.ide-shm
.vs/TaleSpireStatMessaging/v15/Server/sqlite3/storage.ide-wal
TaleSpireStatMessaging/bin/Debug/0Harmony.dll
TaleSpireStatMessaging/bin/Debug/0Harmony.xml
TaleSpireStatMessaging/bin/Debug/BepInEx.dll
TaleSpireStatMessaging/bin/Debug/BepInEx.xml
TaleSpireStatMessaging/bin/Debug/Bouncyrock.BouncePackage.Runtime.dll
TaleSpireStatMessaging/bin/Debug/Bouncyrock.BouncePackage.TaleSpire.Runtime.dll
TaleSpireStatMessaging/bin/Debug/Bouncyrock.BouncePhysics.Runtime.dll
TaleSpireStatMessaging/bin/Debug/Bouncyrock.MiniZ.Runtime.dll
TaleSpireStatMessaging/bin/Debug/Bouncyrock.PicoHash.Runtime.dll
TaleSpireStatMessaging/bin/Debug/Bouncyrock.TaleSpire.3rdParty.Runtime.dll
TaleSpireStatMessaging/bin/Debug/Bouncyrock.TaleSpire.AssetManagement.dll
TaleSpireStatMessaging/bin/Debug/Bouncyrock.TaleSpire.BounceTools.Runtime.dll
TaleSpireStatMessaging/bin/Debug/Bouncyrock.TaleSpire.DataModel.Runtime.dll
TaleSpireStatMessaging/bin/Debug/Bouncyrock.TaleSpire.Runtime.dll
TaleSpireStatMessaging/bin/Debug/Cinemachine.dll
TaleSpireStatMessaging/bin/Debug/com.alelievr.NodeGraphProcessor.Runtime.dll
TaleSpireStatMessaging/bin/Debug/Mono.Cecil.dll
TaleSpireStatMessaging/bin/Debug/Mono.Cecil.pdb
TaleSpireStatMessaging/bin/Debug/MonoMod.RuntimeDetour.dll
TaleSpireStatMessaging/bin/Debug/MonoMod.RuntimeDetour.xml
TaleSpireStatMessaging/bin/Debug/MonoMod.Utils.dll
TaleSpireStatMessaging/bin/Debug/MonoMod.Utils.xml
TaleSpireStatMessaging/bin/Debug/NCalc.dll
TaleSpireStatMessaging/bin/Debug/Newtonsoft.Json.dll
TaleSpireStatMessaging/bin/Debug/Newtonsoft.Json.xml
TaleSpireStatMessaging/bin/Debug/Photon3Unity3D.dll
TaleSpireStatMessaging/bin/Debug/ShapesRuntime.dll
TaleSpireStatMessaging/bin/Debug/StatMessaging.dll
TaleSpireStatMessaging/bin/Debug/StatMessaging.dll.config
TaleSpireStatMessaging/bin/Debug/StatMessaging.pdb
TaleSpireStatMessaging/bin/Debug/Unity.Addressables.dll
TaleSpireStatMessaging/bin/Debug/Unity.Animation.Rigging.dll
TaleSpireStatMessaging/bin/Debug/Unity.Burst.dll
TaleSpireStatMessaging/bin/Debug/Unity.Burst.Unsafe.dll
TaleSpireStatMessaging/bin/Debug/Unity.Collections.dll
TaleSpireStatMessaging/bin/Debug/Unity.Collections.LowLevel.ILSupport.dll
TaleSpireStatMessaging/bin/Debug/Unity.Deformations.dll
TaleSpireStatMessaging/bin/Debug/Unity.Entities.dll
TaleSpireStatMessaging/bin/Debug/Unity.Entities.Hybrid.dll
TaleSpireStatMessaging/bin/Debug/Unity.InputSystem.dll
TaleSpireStatMessaging/bin/Debug/Unity.Jobs.dll
TaleSpireStatMessaging/bin/Debug/Unity.Localization.dll
TaleSpireStatMessaging/bin/Debug/Unity.Mathematics.dll
TaleSpireStatMessaging/bin/Debug/Unity.Mathematics.Extensions.dll
TaleSpireStatMessaging/bin/Debug/Unity.Mathematics.Extensions.Hybrid.dll
TaleSpireStatMessaging/bin/Debug/Unity.Physics.dll
TaleSpireStatMessaging/bin/Debug/Unity.Postprocessing.Runtime.dll
TaleSpireStatMessaging/bin/Debug/Unity.Properties.dll
TaleSpireStatMessaging/bin/Debug/Unity.Rendering.Hybrid.dll
TaleSpireStatMessaging/bin/Debug/Unity.ResourceManager.dll
TaleSpireStatMessaging/bin/Debug/Unity.Scenes.dll
TaleSpireStatMessaging/bin/Debug/Unity.Serialization.dll
TaleSpireStatMessaging/bin/Debug/Unity.TextMeshPro.dll
TaleSpireStatMessaging/bin/Debug/Unity.Timeline.dll
TaleSpireStatMessaging/bin/Debug/Unity.Transforms.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.AccessibilityModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.AIModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.AndroidJNIModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.AnimationModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.ARModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.AssetBundleModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.AudioModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.ClothModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.ClusterInputModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.ClusterRendererModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.CoreModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.CrashReportingModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.DirectorModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.DSPGraphModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.GameCenterModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.GridModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.ImageConversionModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.IMGUIModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.InputLegacyModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.InputModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.JSONSerializeModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.LocalizationModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.ParticleSystemModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.PerformanceReportingModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.Physics2DModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.PhysicsModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.ScreenCaptureModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.SharedInternalsModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.SpriteMaskModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.SpriteShapeModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.StreamingModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.SubsystemsModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.TerrainModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.TerrainPhysicsModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.TextCoreModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.TextRenderingModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.TilemapModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.UI.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.UIElementsModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.UIElementsNativeModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.UIModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.UNETModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.UnityAnalyticsModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.UnityConnectModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.UnityCurlModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.UnityWebRequestAudioModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.UnityWebRequestModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.UnityWebRequestTextureModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.UnityWebRequestWWWModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.VehiclesModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.VFXModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.VideoModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.VirtualTexturingModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.VRModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.WindModule.dll
TaleSpireStatMessaging/bin/Debug/UnityEngine.XRModule.dll
TaleSpireStatMessaging/bin/Debug/websocket-sharp.dll
TaleSpireStatMessaging/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TaleSpireStatMessaging/obj/Debug/StatMessaging.dll
TaleSpireStatMessaging/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TaleSpireStatMessaging/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TaleSpireStatMessaging/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TaleSpireStatMessaging/obj/Debug/TaleSpireStatMessaging.csprojAssemblyReference.cache
TaleSpireStatMessaging/obj/Debug/TaleSpireStatMessaging.csproj.FileListAbsolute.txt
TaleSpireStatMessaging/obj/Debug/TaleSpireStatMessaging.csproj.CoreCompileInputs.cache
TaleSpireStatMessaging/obj/Debug/TaleSpireStatMessaging.csproj.CopyComplete
TaleSpireStatMessaging/obj/Debug/StatMessaging.pdb
TaleSpireStatMessaging/TaleSpireStatMessaging.csproj
TaleSpireStatMessaging/TaleSpireStatMessaging.csproj
